# Copie para .env e preencha os valores

# Conexão com o banco PostgreSQL
DATABASE_URL="postgresql://user:password@host:5432/database?sslmode=disable"

# Autenticação (usuário único)
AUTH_USER="admin"
AUTH_PASSWORD="123456
AUTH_SECRET="string-aleatoria-com-32-ou-mais-caracteres"
